<ul>
  {{#each model as |song|}}

  <li>{{song.title}} by {{song.band}} ({{song.rating}})</li>

  {{/each}}
</ul>

<h2>Power Select:</h2>

{{#power-select-with-create
    selected=selectedAddressType
    options=addressTypes
    onchange=(action "chooseAddressType")
    oncreate=(action "createAddressType") as |addressType term|
}}
  {{addressType}}
{{/power-select-with-create}}

<p>Hello! You just created:</p>
  <h1>{{selectedAddressType}}</h1>
{{outlet}}
